%script#topic-template{type: 'text/template'}
  %li {{ name }} - {{ author }}

%h1 Topics

= form_tag "/topics", id: "new-topic-form" do
  = text_field_tag 'topic[name]', nil, placeholder: 'Topic', required: true
  = text_field_tag 'topic[author]', nil, placeholder: 'Your Name', required: true
  = submit_tag 'Save', data: { disable_with: false }

%ul#topics
