<!DOCTYPE html>
<html>
  <head>
    <title>Democracy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid bg-primary">
      <div class="page-header">
        <h1>Democracy</h1>
        <h4><em>Completely Fair</em></h4>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
